<!doctype html>
<html lang="us-en">
  <head>
    <title>{{ page.title }} - {{ site.title }}</title>
    <meta content='{{ page.title }} - {{ site.title }}' name='title' />
    <meta content='{{ page.title }} - {{ site.title }}' name='og:title' />
    {% include head.html %}
  </head>
  <body>

    <div class="container">

      {% include header.html %}

      <div class="row">
        <section id="content" class="nine columns">
          {{content}}
        </section>
        <section id="sidebar" class="three columns">
          {% include sidebar.html %}
        </section>
      </div>

      {% include footer.html %}

    </div>
  </body>
</html>
